body{
    margin: 0;
    line-height: 1.7;
}
header{
    background-color:  white;
    height: 50px;
    width: 100%;
    opacity: 0.8;
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: tomato;
}   
nav{
    margin-top: 8px;
    font-size: 20px;
    font-family: STHeiti;
    color: white;
}
#nav1{
    float: left;
    margin-left: 30px;
}
#nav2{
    float: right;
    margin-right: 30px;
}
.t_nav{
    border-bottom: #E8E8E8 1px solid;
    font-size: 12px;
    font-weight: normal;
    line-height: 40px;
    height: 40px;
    margin: 20px auto;
    width: 1000px;
    margin-top: 50px;
}
.t_nav span {
    float: right;
    color: #999;
}
table{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
td{
    font-size: 30px;
    font-weight: normal;
    padding-left: 30px;
    padding-right: 30px;
}
footer{
    text-align: center;
    line-height: 40px;
    border-top: #E8E8E8 1px solid;
    width: 1000px;
    margin: auto;
    font-size: 12px;
    font-family: STHeiti;
    margin-top: 10px;
}