body{
    margin: 0;
    line-height: 1.7;
}
header{
    background-color:  white;
    height: 50px;
    width: 100%;
    opacity: 0.8;
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: tomato;
}   
nav{
    margin-top: 8px;
    font-size: 20px;
    font-family: STHeiti;
    color: white;
}
#nav1{
    float: left;
    margin-left: 30px;
}
#nav2{
    float: right;
    margin-right: 30px;
}
h1{
    margin-top: 50px;
    margin-left: 380px;
}
p{
    margin-left: 380px;
}
#image1{
    position: absolute;
    top: 250px;
    right: 200px;
}
#image2{
    position: absolute;
    top: 60px;
    left: 30px;
}
footer{
    text-align: center;
    line-height: 40px;
    border-top: #E8E8E8 1px solid;
    width: 1000px;
    margin: auto;
    font-size: 12px;
    font-family: STHeiti;
    margin-top: 20px;
}